<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Modifier le profil</title>
	<!-- Imports -->
	<link rel="shortcut icon" href="/img/icon_small.png">
	<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="/node_modules/bootstrap-multiselect/dist/css/bootstrap-multiselect.css">
	<link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css"> <!-- load fontawesome -->
	<script src="/node_modules/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/node_modules/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
	<script type="text/javascript" src="node_modules/moment/min/moment.min.js"></script>
	<script src="/node_modules/socket.io/node_modules/socket.io-client/dist/socket.io.js"></script>
	<script src="/core/apiRequests/apirequests.js"></script>
	<script src="/node_modules/angular/angular.js"></script>
	<script src="/js/home.js"></script>
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
	<script type="text/javascript">
			$(document).ready(function() {
				var data="<%= user.local.categories%>";
				//Make an array
				var dataarray=data.split(",");
				//Uppercase first letter of each category
				for(var i= 0; i < dataarray.length; i++) {
				    dataarray[i].charAt(0).toUpperCase() + dataarray[i].slice(1);;
				}
				// Set the value
				$("#categories").val(dataarray);
				$("#multiselectbox").multiselect("refresh");

				$('#categories').multiselect({
					buttonWidth: "100%",
					nonSelectedText: "Aucune catégorie sélectionnée",
					enableFiltering: true,
   					enableCaseInsensitiveFiltering: true,
				});
			});
	</script>

</head>
<body>

<!------------------------------------------------------- Barre menu ----------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------------------- -->

		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/home">MoviesBestChoice</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/home">Accueil</a></li>
						<li><a href="/profile">Profil</a></li>
						<li><a href="/testAlgo">Films recommandés pour vous</a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.local.username %>  <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="/configure"><span class="glyphicon glyphicon-user"></span>Modifier le profil</a></li>
								<li class="divider"></li>
								<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Se déconnecter</a></li>
							</ul>
						</li>
					</ul>


				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>


<!------------------------------------------------------- Main Div   ----------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------------------- -->


<div class="container">



<form method="post" class="form-horizontal">
<fieldset>

	<legend>
		<h2><span class="fa fa-user"></span> Modifier le profil </h2>
	</legend>

	<!-- show any messages that come back with configuration -->
	<% if (message && message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!--
	<div class="form-group">
	  <label class="col-md-4 control-label" for="textinput">Sexe</label>
	  <div class="col-md-4">
	    <label class="radio-inline"> <input type="radio" name="anynum" id="homme" value="homme" checked> Homme </label>
	    <label class="radio-inline"> <input type="radio" name="anynum" id="femme" value="femme"> Femme </label>
	  </div>
	</div>
-->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="textinput">Nom d'utilisateur</label>
	  <div class="col-md-4">
	  	<input id="textinput" name="username" type="text" placeholder="Nom d'utilisateur" class="form-control input-md" value=<%= user.local.username %>>
	  </div>
	</div>
<!--
	<div class="form-group">
	  <label class="col-md-4 control-label" for="textinput">Date de naissance</label>
	  <div class="col-md-4">
	  	<input id="textinput" name="textinput" type="text" placeholder="Date de naissance" class="form-control input-md">
	  </div>
	</div>

	<div class="form-group">
	  <label class="col-md-4 control-label" for="textinput">Adresse</label>
	  <div class="col-md-4">
	  	<input id="textinput" name="textinput" type="text" placeholder="Adresse" class="form-control input-md">
	  </div>
	</div>
-->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="textinput">Email</label>
	  <div class="col-md-4">
	  	<input id="textinput" name="email" type="text" placeholder="Email" class="form-control input-md" value=<%= user.local.email %>>
	  </div>
	</div>

	<div class="form-group">
	  <label class="col-md-4 control-label" for="textinput">Nouveau mot de passe</label>
	  <div class="col-md-4">
	  	<input id="textinput" name="newPassword" type="password" placeholder="Nouveau mot de passe" class="form-control input-md">
	  </div>
	</div>

	<div class="form-group">
	  <label class="col-md-4 control-label" for="textinput">Confirmer nouveau mot de passe</label>
	  <div class="col-md-4">
	  	<input id="textinput" name="confirmNewPassword" type="password" placeholder="Confirmer nouveau mot de passe" class="form-control input-md">
	  </div>
	</div>

	<div class="form-group">
			<label class="col-md-4 control-label" for="categories">Catégories préférées</label>
			<div class="col-md-4">
				<select id="categories" name="categories" class="col-sm-6 col-sm-offset-3" multiple="multiple">
					<option value="action">Action</option>
					<option value="aventure">Aventure</option>
					<option value="animation">Animation</option>
					<option value="comedie">Comédie</option>
					<option value="crime">Crime</option>
					<option value="documentaire">Documentaire</option>
					<option value="drame">Drame</option>
					<option value="familial">Familial</option>
					<option value="fantastique">Fantastique</option>
					<option value="historique">Historique</option>
					<option value="horreur">Horreur</option>
					<option value="musique">Musique</option>
					<option value="mystere">Mystère</option>
					<option value="romance">Romance</option>
					<option value="science_fiction">Science-Fiction</option>
					<option value="thriller">Thriller</option>
					<option value="guerre">Guerre</option>
					<option value="western">Western</option>
				</select>
			</div>
		</div>

	<!-- Button -->
	<div class="form-group">
	  <label class="col-md-4 control-label" for="singlebutton"></label>
	  <div class="col-md-4">
	    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Enregistrer</button>
	  </div>
	</div>

</fieldset>
</form>

</div>

	<hr/>
	<footer class="footer">
		<div class="container">
			<p class="text-muted">Les données sur les films sont extraites de The Movie Database, en accord avec les conditions d'utilisation de leurs API. https://www.themoviedb.org/documentation/api</p>
			<p class="text-muted" style="text-align: center">Code source du site disponible ici : <a>https://github.com/VGanon/projetInnov<a></p>
		</div>
	</footer>
</body>
</html>
